<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titus' Counseling</title>
    <style>
        body {
            /* Set background image */
            background-image: url('/static/img/inside_of_room.png');
            /* Set background size */
            background-size: cover; /* Adjust as needed */
            /* Set background repeat behavior */
            background-repeat: no-repeat; /* Prevent repetition */
        }
    </style>
</head>
<body>
    <form action="ask" style="display:inline-block" method="POST" enctype="multipart/form-data" id="myForm">
        QUESTION<br>
        <input type="text" name="question" id="questionInput" value=""><br>
        SUBMIT<br>
        <input type="submit">
    </form>
    {{history}}
    
</body>
</html>
