<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titus' Counseling</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
</head>
<body>
    <div class="form-container">
        <form action="genieBot" method="POST" enctype="multipart/form-data" id="myForm">
            <div class="form-content">
                <div class="centerhead"><h1><p style="color:white;">Choose which preset you would like to edit:</p></h1></div>
                <div class="topleft">
                    <label for="name">NAME</label>
                    <input type="text" name="name" id="name" value=""><br>
                    <label>MAJOR</label>
                    <input type="radio" name="major"  value="CS"> Computer Science
                    <input type="radio" name="major"  value="MATH"> Mathematics<br>
                    <label>YEAR</label>
                    <input type="radio" name="year"  value="1"> Year 1
                    <input type="radio" name="year"  value="2"> Year 2
                    <input type="radio" name="year"  value="3"> Year 3
                    <input type="radio" name="year"  value="4"> Year 4<br>
                </div>
                <div class="center">
                    <label>Hours Can work</label>
                    <input type="radio" name="hoursCanWork"  value="time1"> 0-10
                    <input type="radio" name="hoursCanWork"  value="time2"> 11-20
                    <input type="radio" name="hoursCanWork"  value="time3"> 21-30<br>
                </div>
                <div class="topright">
                    <label for="teacher-liked">TEACHER LIKED</label>
                    <input type="text" name="teacher-liked" id="teacher-liked" value=""><br>
                    <label for="teacher-hated">TEACHER HATED</label>
                    <input type="text" name="teacher-hated" id="teacher-hated" value=""><br>
                </div>
                <div class="centersubmit">
                    <input type="submit" value="SUBMIT">
                </div>
            </div>
        </form>
    </div>
</body>
</html>

