body {
    /* Set background image */
    background-image: url('/static/img/outside_of_room.png');
    /* Set background size */
    background-size: cover; /* Adjust as needed */
    /* Set background repeat behavior */
    background-repeat: no-repeat; /* Prevent repetition */
}
